<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.jewelry.mapper.accountMapper">
	
	<resultMap type="com.jewelry.vo.account" id="accountMap">
		<id column="acno" property="acno" />
		<result column="acstore" property="acstore" />
		<result column="acadd" property="acadd" />
		<result column="achonumber" property="achonumber" />
		<result column="acname" property="acname" />
		<result column="acphone" property="acphone" />
		<result column="acmaname" property="acmaname" />
		<result column="acmaphone" property="acmaphone" />
		<result column="acheherry" property="acheherry" />
		<result column="acdel" property="acdel" />
		<result column="usno" property="usno" />
		
	</resultMap>
	
	<resultMap type="com.jewelry.vo.receivables" id="receivablesMap">
		<id column="reno" property="reno" />
		<result column="recarat" property="recarat" />
		<result column="remoney" property="remoney" />
		<result column="redate" property="redate" />
		<result column="repaydate" property="repaydate" />
		<result column="usno" property="usno" />
		<result column="acno" property="acno" />
	</resultMap>

	<sql id="account_columns">
		acno,
		acstore,
		acadd,
		achonumber,
		acname,
		acphone,
		acmaname,
		acmaphone,
		acheherry,
		storeno,
		acadd2,
		acadd3
	</sql>

	<select id="selectAccountCount" parameterType="String" resultType="int">
		SELECT COUNT(*)
			FROM
				account
			WHERE acdel ! = #{ acdel }
	</select>
	
	<select id="selectAllAccountByPage" parameterType="hashmap" resultType="account">
		SELECT * 
			FROM 
			( 
				SELECT 
					rownum idx, s.* 
			   FROM 
			   ( 
			   		SELECT 
			   		*
				FROM 
					account 
				WHERE 
				   	acdel = '0' AND storeno = #{ storeNo }
				ORDER BY acno DESC 
				) s 
			) 
		WHERE idx <![CDATA[>=]]> #{ first } AND idx <![CDATA[<]]> #{ last }
	</select> 
	
	<insert id="insertAccount" parameterType="account">
		INSERT INTO account
		(
			<include refid="account_columns"></include>
		)
		VALUES
		(
			account_sequence.NEXTVAL,
			#{ acstore },
			#{ acadd },
			#{ achonumber },
			#{ acname },
			#{ acphone },
			#{ acmaname },
			#{ acmaphone },
			#{ acheherry },
			#{ storeno },
			#{ acadd2 },
			#{ acadd3 }
		) 
	</insert>
	
	<update id="uploadAccount" parameterType="account">
		UPDATE 
			account
		SET
			acstore = #{ acstore },
			acadd = #{ acadd },
			achonumber = #{ achonumber },
			acname = #{ acname },
			acphone = #{ acphone },
			acmaname = #{ acmaname },
			acmaphone = #{ acmaphone },
			acheherry = #{ acheherry },
			acadd2 = #{ acadd2 },
			acadd3 = #{ acadd3 }
		WHERE 
			acno = #{ acno }
	</update>
	
	<update id="deleteAccount" parameterType="account">
		UPDATE
			account
		SET
			acdel = #{ acdelete }
		WHERE
			acno = #{ acno }
	</update>
	
	<select id="selectAccountByAccountNo" parameterType="int" resultType="account">
		SELECT 
			*
		FROM 
			account
		WHERE
			acno = #{ acno }
	
	</select>
	
	<select id="selectAccountAll" parameterType="int" resultType="account">
		SELECT 
			*
		FROM
			account
		WHERE
			acno = #{ acno }
	</select>
	
		
			
	
	
</mapper>