<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.jewelry.mapper.CustomerMapper">
	
	<insert id="insertCustomer" parameterType="com.jewelry.vo.Customer" useGeneratedKeys="true" keyColumn="cuNo" keyProperty="cuNo">
		INSERT INTO CUSTOMER (CUNO,CUNAME,CUPHONE,CUEMAIL,CUSEX,CUBIRTH)
		VALUES (CUSTOMER_SEQUENCE.NEXTVAL,#{cuName},#{cuPhone},#{cuEmail},#{cuSex},#{cuAge})
	</insert>

		<select id="selectCustomers" parameterType="hashmap" resultType="com.jewelry.vo.Customer">
		SELECT * FROM (SELECT rowNUM NUM , M.* FROM(SELECT * FROM CUSTOMER WHERE DELETED <![CDATA[!=]]> #{del} ORDER BY CUNO DESC)M)WHERE NUM <![CDATA[>=]]> #{from} AND NUM <![CDATA[<]]> #{to}
	</select>
	<update id="updateCustomer" parameterType="com.jewelry.vo.Customer">
		UPDATE CUSTOMER SET CUNAME = #{cuName},CUPHONE = #{cuPhone},CUMAIL = #{cuEmail},CUSEX = #{cuSex},CUAGE = #{cuAge} WHERE CUNO = #{cuNo}
	</update>
	
	<update id="deleteCustomer" parameterType="hashmap">
		UPDATE CUSTOMER SET DELETED = #{deleted} WHERE CUNO =#{cuNo}
	</update>
	
	<select id="selectNewCustomer" parameterType="String" resultType="com.jewelry.vo.Customer">
SELECT MAL.*
	FROM 
	(
	(
	select ROWNUM no,m3p.*
	from
	(
	select cuNo,cuName,cuPhone,cuSex,'3' mn
	from customer
	order by cuNo desc
	) m3p
	)
	union
	(
	select ROWNUM no,m2p.*
	from
	(
	select cuNo,cuName,cuPhone,cuSex,'2' mn
	from customer
	order by cuNo desc
	) m2p
	)
	UNION
	(
	select ROWNUM no,m1p.*
	from
	(
	select cuNo,cuName,cuPhone,cuSex,'1' mn
	from customer
	order by cuNo desc
	) m1p
	)
	) MAL
    where mal.mn=#{mn}
</select>
	
	<!--
	<select id="selectmoviecount" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM CUSTOMER WHERE DELETED != #{delete}
	</select> -->
</mapper>












