<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.jewelry.mapper.FcMapper">
	
	<insert id="insertAccount" parameterType="Fc">
		INSERT INTO FC (userNo, userId, userPswd, userName, userEmail, userPhone, userStore, storeNo) VALUES (fc_userno_sequence.nextval , #{userId}, #{userPswd}, #{userName},#{userEmail},#{userPhone}, #{userStore},fc_userno_sequence.currval)
	</insert>
	
	<insert id="insterEmployee" parameterType="Fc">
		INSERT INTO FC (userNo, userId, userPswd, userName, userEmail, userPhone, userStore, storeNo, userType) VALUES (fc_userno_sequence.nextval , #{userId}, #{userPswd}, #{userName},#{userEmail},#{userPhone}, #{userStore}, #{storeNo}, #{userType})
	</insert>
	
	<select id="selectAccountByIdAndPswd" parameterType="Fc" resultType="Fc">
		SELECT * FROM FC WHERE userId = #{userId} and userPswd=#{userPswd} and userdel !=1
	</select>
	
	<select id="selectEmployeeByStoreNo" parameterType="hashmap" resultType="Fc">
		SELECT * FROM 
		(SELECT rowNUM NUM , M.* FROM 
		(SELECT * FROM Fc WHERE storeNo = #{userNo} and userType != #{fc} and userType != #{admin} and userDel !=#{del})M) 
		WHERE NUM <![CDATA[>=]]> #{from} AND NUM <![CDATA[<]]> #{to}
	</select>
	
	<update id="updateEmployeeByEmpNo" parameterType="Fc">
		UPDATE fc 
		SET 
			userName = #{userName},
			userPhone = #{userPhone},
			userEmail = #{userEmail},
			userType = #{userType},
			firstDate = #{firstDate},
			lastDate = #{lastDate}
		WHERE userNo = #{userNo}	
	</update>
	
	<select id="selectAccountAll" parameterType="hashmap" resultType="Fc">		
		SELECT * FROM 
		(SELECT rowNUM NUM , M.* FROM 
		(SELECT * FROM Fc WHERE userType = #{user})M) 
		WHERE NUM <![CDATA[>=]]> #{from} AND NUM <![CDATA[<]]> #{to}
	</select>
	
	<update id="updateAccountTypeByuserNo" parameterType="hashmap">
		UPDATE FC
		SET userDel = #{type}
		WHERE userNo = #{userNo}
	</update>

	<select id="findempcount" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM Fc WHERE storeNo = #{userNo} and userType != #{fc} and userType != #{admin} and userDel !=#{del}
	</select>
	
	<select id="findregcount" parameterType="string" resultType="int">
		SELECT count(*) FROM Fc WHERE userType = #{user}
	</select>
	
</mapper>












