<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.jewelry.mapper.HomeMapper">
	
	<select id="selectCustomers" parameterType="hashmap" resultType="home">
		SELECT rowNUM NUM , M.* FROM(SELECT * FROM CUSTOMER WHERE DELETED <![CDATA[!=]]> #{del} AND STORENO = #{storeNo} ORDER BY CUNO DESC)M
	</select>
	
	<select id="selectProducts" parameterType="hashmap" resultType="home">
		SELECT rowNUM NUM , M.* FROM(SELECT * FROM PRODUCT WHERE PRODUCTDEL <![CDATA[!=]]> #{del} AND STORENO = #{storeNo} ORDER BY PRODUCTNO DESC)M
	</select>
	
	<select id="selectAcList" parameterType="hashmap" resultType="home">
		SELECT rowNUM NUM , M.* FROM(SELECT * FROM ACCOUNT WHERE ACDEL <![CDATA[!=]]> #{del} AND STORENO = #{storeNo} ORDER BY ACNO DESC)M
	</select>
	
		<select id="selectPrices" parameterType="hashmap" resultType="home">
		SELECT rowNUM NUM , M.* FROM(SELECT * FROM PRICE WHERE DELETED <![CDATA[!=]]> #{del} AND STORENO = #{storeNo} ORDER BY PRICENO DESC)M
	</select>
	
	<select id="selectSalesByStoreNo" parameterType="int" resultType="SalesView">
		
		SELECT * FROM SALESVIEW WHERE STORENO=#{storeNo}

	</select>
	
	<select id="selectProductAndCount" parameterType="hashmap" resultType="Product">
	select * from
	(select a.*,ROWNUM NUM from
		(SELECT productName,productNo,COUNT(PRODUCTNO) count  
			FROM SALESVIEW 
			WHERE STORENO=#{storeNo} 
				and SALESDATE BETWEEN TO_DATE(#{ago},'yyyy/MM/dd') and To_Date(#{to},'yyyy/MM/dd')+1 
			GROUP BY PRODUCTNAME,PRODUCTNO 
			ORDER BY COUNT(PRODUCTNO) DESC) a)
	where NUM <![CDATA[<=]]> 4		
	</select>
	
	<select id="selectProductImg" parameterType="int" resultType="ProductImg">
		SELECT * FROM PRODUCT_IMG WHERE PRODUCTNO = #{productNo}
	</select>
	
	<select id="selectExEmployee" parameterType="hashmap" resultType="hashmap">
		select * from
		(select a.*,ROWNUM NUM
			from
		    (select USERNAME,sum(SALESPRICE) revenue,sum(SALESPRICE-price) profit 
		        from salesView 
		        where STORENO = #{storeNo} 
		            and SALESDATE BETWEEN TO_DATE(#{first},'yyyy/MM/dd') and To_Date(#{last},'yyyy/MM/dd')+1
		            and SALESPRICE is not null
		        group by USERNAME,USERNO
		        order by sum(SALESPRICE-PRICE) DESC) a)
		where NUM <![CDATA[<=]]> 4
	</select>
	
	<select id="selectExAc" parameterType="int" resultType="hashmap">
		select * from    
			(Select a.*,ROWNUM NUM from    
				(select acstore,sum(ordercount) mount 
				from ORDERVIEW
				where storeno=#{storeNo}
				Group By ACSTORE
				ORder BY sum(orderCount))a)
		where num<![CDATA[<=]]> 4
	</select>
	
</mapper>










