<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.jewelry.mapper.HomeMapper">
	
	<select id="selectCustomers" parameterType="hashmap" resultType="home">
		SELECT rowNUM NUM , M.* FROM(SELECT * FROM CUSTOMER WHERE DELETED <![CDATA[!=]]> #{del} AND STORENO = #{storeNo} ORDER BY CUNO DESC)M
	</select>
	
	<select id="selectProducts" parameterType="hashmap" resultType="home">
		SELECT rowNUM NUM , M.* FROM(SELECT * FROM PRODUCT WHERE PRODUCTDEL <![CDATA[!=]]> #{del} AND STORENO = #{storeNo} ORDER BY PRODUCTNO DESC)M
	</select>
	
	<select id="selectAcList" parameterType="hashmap" resultType="home">
		SELECT rowNUM NUM , M.* FROM(SELECT * FROM ACCOUNT WHERE ACDEL <![CDATA[!=]]> #{del} AND STORENO = #{storeNo} ORDER BY ACNO DESC)M
	</select>
	
		<select id="selectPrices" parameterType="hashmap" resultType="home">
		SELECT rowNUM NUM , M.* FROM(SELECT * FROM PRICE WHERE DELETED <![CDATA[!=]]> #{del} AND STORENO = #{storeNo} ORDER BY PRICENO DESC)M
	</select>

</mapper>










