<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.jewelry.mapper.misuMapper">
	
	<resultMap type="com.jewelry.vo.receivables" id="receivablesMap">
		<id column="reno" property="reno" />
		<result column="recarat" property="recarat" />
		<result column="remoney" property="remoney" />
		<result column="redate" property="redate" />
		<result column="repaydate" property="repaydate" />
		<result column="usno" property="usno" />
		<result column="acno" property="acno" />
	</resultMap>

	<sql id="misu_columns">
		reno,
		recarat,
		remoney,
		retrdate,
		repaydate,
		acno
	</sql>

	<select id="selectMisuCount" parameterType="String" resultType="int">
		SELECT COUNT(*)
			FROM
				receivables
			WHERE 
				remoney ! = #{ remoneys }
			AND
				recarat ! = #{ recarats }
	</select>
	
	<select id="selectAllMisuByPage" parameterType="hashmap" resultType="account">
		SELECT * 
			FROM 
			( 
				SELECT 
					rownum idx, s.* 
			   FROM 
			   ( 
			   	SELECT 
			   		*
				FROM 
					account
					
				ORDER BY acno DESC 
				) s 
			) 
			WHERE idx <![CDATA[>=]]> #{ first } AND idx <![CDATA[<]]> #{ last }
	</select>
	
	<insert id="insertMisu" parameterType="misu">
		INSERT INTO receivables
		(
			<include refid ="misu_columns" />
			, storeno
		)
		VALUES
		(
			receivables_sequence.NEXTVAL,
			#{ recarat },
			#{ remoney },
			#{ retrdate },
			#{ repaydate },
			#{ acno },
			#{ storeno }
		)
	</insert>
	
	<update id="uploadMisu" parameterType="misu">
		UPDATE 
			receivables
		SET
			recarat = #{ recarat },
			remoney = #{ remoney }
		WHERE 
			reno = #{ reno }
	</update>
	
	<select id="selectAccountList" parameterType="int" resultType="account">
	
		SELECT *
		FROM
			account
		WHERE
			acno = #{ acno }
	
	</select>
	
	<select id="selectAccountStoreName" parameterType="int" resultType="account" >
		SELECT *
		FROM 
			account
		WHERE
			acno = #{ acno }
		
	</select>
	
	<select id="selectStoreName" parameterType="string" resultType="account">
		SELECT *
		FROM
			account
		WHERE
			storeno = #{ storeno }
	</select>
	
	<select id="selectAllMisu"  parameterType="int" resultType="misu">
		SELECT *
		FROM
			receivables
		WHERE
			acno = #{ acno }
	</select>
	
</mapper>