<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.jewelry.mapper.ProductMapper">
	
	<insert id="insertProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="productNo" keyColumn="productNo">
		INSERT INTO PRODUCT (productNo,productName,productCost,storeNo,acno) VALUES (product_productno_sequence.nextval,#{productName},#{productCost},#{userNo},#{acno})
	</insert>
	
	<insert id="insetProductImg" parameterType="ProductImg">
		INSERT INTO PRODUCT_IMG (imgNo,productNo,imgSavedName,imgFileName) VALUES (productimg_imgno_sequence.nextval,#{productNo},#{imgSavedName},#{imgFileName})
	</insert>
	
	<update id="updateProduct" parameterType="Product">
		UPDATE PRODUCT
		SET PRODUCTNAME=#{productName},PRODUCTCOST=#{productCost},ACNO=#{acno}
		WHERE PRODUCTNO=#{productNo}
	</update>
	
	<update id="updateProductImg" parameterType="ProductImg">
		UPDATE PRODUCT_IMG
		SET IMGSAVEDNAME=#{imgSavedName},IMGFILENAME=#{imgFileName}
		WHERE PRODUCTNO=#{productNo}
	</update>
	
	<update id="deleteProduct" parameterType="hashmap">
		UPDATE PRODUCT 
		SET PRODUCTDEL =#{del}
		WHERE PRODUCTNO =#{productNo}
	</update>
	
	<select id="selectAllProduct" parameterType="int" resultType="Product">
		SELECT * FROM PRODUCT WHERE STORENO = #{userNo}
	</select>
	
	<select id="selectAllImg" parameterType="int" resultType="ProductImg">
		SELECT * FROM PRODUCT_IMG WHERE PRODUCTNO = #{productNo}
	</select>
	
	<select id="selectProductByProductNo" parameterType="int" resultType="Product">
		Select * FROM PRODUCT WHERE PRODUCTNO =#{productNo}
	</select>
	
	<insert id="insertDetail" parameterType="Detail" useGeneratedKeys="true" keyColumn="detailNo" keyProperty="detailNo">
		INSERT INTO DETAIL (DETAILNO,DETAILGOLD,DETAILColor,DETAILCARAT,DETAILSIZE,MOUNT,PRICE,SHAPE,PRODUCTNO) 
		VALUES (detail_detailno_sequence.nextval,#{detailGold},#{detailColor},#{detailCarat},#{detailSize},#{mount},#{price},#{shape},#{productNo})
	</insert>
	
	<insert id="insertOrder" parameterType="Order">
		INSERT INTO PRORDER (ORDERNO,DETAILNO,USERNO,orderCount,OrderType,CUNO) 
		VALUES (order_orderno_sequence.nextval,#{detailNo},#{userNo},#{orderCount},#{orderType},#{cuno})
	</insert>
	
	<insert id="insertOrderNOCuNo" parameterType="Order">
		INSERT INTO PRORDER (ORDERNO,DETAILNO,USERNO,orderCount,OrderType) 
		VALUES (order_orderno_sequence.nextval,#{detailNo},#{userNo},#{orderCount},#{orderType})
	</insert>
	
	<update id="updateDetail" parameterType="Detail">
		
	</update>
	
	<update id="updateOrder" parameterType="Order">
		
	</update>
	
	<update id="orderDel" parameterType="int">
	
	</update>
	
	<select id="findDetail" parameterType="int" resultType="Detail">
		Select * FROM DETAIL WHERE PRODUCTNO =#{productNo}
	</select>
	
	<select id="selectAllOrderList" parameterType="hashmap" resultType="OrderViews">
		SELECT * FROM 
			(SELECT rowNUM NUM , M.* FROM 
			(SELECT * FROM ORDERVIEW WHERE STORENO = #{storeNo} ORDER BY ORDERNO DESC )M) 
			WHERE NUM <![CDATA[>=]]> #{from} AND NUM <![CDATA[<]]> #{to}		
	</select>
	
	<select id="findOrdercount" parameterType="int" resultType="int">
		SELECT count(*) FROM ORDERVIEW WHERE STORENO =#{storeNo}
	</select>
	
	<select id="updateDetailType" parameterType="hashmap">
		UPDATE DETAIL 
		SET DETAILDIV = #{type}
		WHERE DETAILNO =#{detailNo} 
	</select>
	
	<select id="updateMount" parameterType="hashmap">
		UPDATE DETAIL 
		SET MOUNT = #{mount}
		WHERE DETAILNO =#{detailNo} 
	</select>
	
	<select id="selectProductDetail" parameterType="hashmap" resultType="Detail">
		SELECT * FROM DETAIL WHERE PRODUCTNO = #{productNo} and DETAILDIV = #{div}
	</select>
	
	<update id="updateOrderViewType" parameterType="hashmap">
		 UPDATE PRORDER
		 SET ORDERCK = #{type}
		 WHERE ORDERNO = #{orderNo}
	</update> 
	
	<update id="updateOrderViewTypeAndDate" parameterType="hashmap">
		UPDATE PRORDER
		SET ORDERCK = #{type},ORDERCKDATE = SYSDATE  		
		WHERE ORDERNO = #{orderNo}
	</update>
	
	<insert id="insertSales" parameterType="Sales">
		INSERT INTO SALES(SALESNO,SALESDIV,USERNO,SALESCOUNT,DETAILNO) 
		VALUES(SALES_SALESNO_SEQUENCE.NEXTVAL,#{salesDiv},#{userNo},#{salesCount},#{detailNo})
	</insert>
	
	<select id="findDetailBydetailNo" parameterType="int" resultType="Detail">
		SELECT * FROM DETAIL WHERE DETAILNO = #{detailNo}
	</select>
	
	<select id="findSalesView" parameterType="hashmap" resultType="SalesView">		
		SELECT * FROM 
			(SELECT rowNUM NUM , M.* FROM 
			(SELECT * FROM SALESVIEW WHERE STORENO = #{storeNo} ORDER BY SALESNO DESC)M) 
			WHERE NUM <![CDATA[>=]]> #{from} AND NUM <![CDATA[<]]> #{to}		
	</select>
	
	<update id="updateSales" parameterType="hashmap">
		UPDATE SALES
		SET SALESPRICE=#{salesPrice},SALESDIV=#{salesDiv},SALESDATE=SYSDATE
		WHERE SALESNO=#{salesNo}
	</update>
	
	<select id="findAccountByStoreNo" parameterType="int" resultType="account">
		SELECT * FROM ACCOUNT WHERE STORENO = #{storeNo}		
	</select>
	
	<select id="selectAllCustomer" parameterType="int" resultType="com.jewelry.vo.Customer">
		SELECT * FROM CUSTOMER WHERE STORENO = #{storeNo}
	</select>
	
	<insert id="insertAllSales" parameterType="Sales">
		INSERT INTO SALES(SALESNO,SALESPRICE,SALESDATE,SALESDIV,SALESCOUNT,CUNO,DETAILNO,USERNO)
		VALUES(SALES_SALESNO_SEQUENCE.NEXTVAL,#{salesPrice},SYSDATE,#{salesDiv},#{salesCount},#{cuno},#{detailNo},#{userNo})
	</insert>
	
	<select id="selectAllProductBypager" parameterType="hashmap" resultType="Product">
		SELECT * FROM 
			(SELECT rowNUM NUM , M.* FROM 
			(SELECT * FROM PRODUCT WHERE STORENO = #{storeNo} and PRODUCTDEl !=#{del} ORDER BY PRODUCTNO DESC)M) 
			WHERE NUM <![CDATA[>=]]> #{from} AND NUM <![CDATA[<]]> #{to}
	</select>
	
	<select id="findProductcount" parameterType="int" resultType="int">
	  	SELECT count(*) FROM PRODUCT WHERE STORENO =#{storeNo}
	</select>
	
	<select id="findSalescount" parameterType="int" resultType="int">
		SELECT count(*) FROM SALESVIEW WHERE STORENO =#{storeNo}
	</select>
	
	<select  id="takeHarryByAcno" parameterType="int" resultType="double">
		SELECT ACHEHERRY FROM ACCOUNT WHERE ACNO=#{acno}
	</select>
	
	<select id="takNewPrice" parameterType="hashmap" resultType="int">
		select a.* from(SELECT PRICE FROM PRICE WHERE STORENO= #{storeNo} ORDER BY priceNo DESC)a where rowNum = #{num}				
	</select>
	
	<resultMap type="Product" id="productMap">
		<id column="productNo" property="productNo" />
		<result column="productName" property="productName" />
		<result column="productCost" property="productCost" />
		<result column="userNo" property="userNo" />
		<result column="productDel" property="productDel" />
		<result column="acno" property="acno" />
		<collection property="details" column="productNo" resultMap="detailMap" />		
	</resultMap>
	<resultMap type="Detail" id="detailMap">
		<id column="detailNo" property="detailNo" />
		<result column="detailGold" property="detailGold" />
		<result column="detailColor" property="detailColor" />
		<result column="detailCarat" property="detailCarat" />
		<result column="detailSize" property="detailSize" />
		<result column="detailDiv" property="detailDiv" />
		<result column="mount" property="mount" />
		<result column="price" property="price" />
		<result column="shape" property="shape" />
		<result column="productNo" property="productNo" />
	</resultMap>
	
	<select id="selectProductandDetail" parameterType="hashmap" resultMap="productMap">
	SELECT * FROM	
		(SELECT rowNUM NUM , M.* FROM
		(SELECT p.PRODUCTNAME,P.PRODUCTCOST,P.PRODUCTDEL,p.STORENO,P.ACNO,d.* FROM PRODUCT P,DETAIL D 
			WHERE P.PRODUCTNO = D.PRODUCTNO AND STORENO=#{storeNo} AND D.DETAILDIV = #{del})M)			
			WHERE NUM <![CDATA[>=]]> #{from} AND NUM <![CDATA[<]]> #{to} 				
	</select>
	
	<select id="findStockcount" parameterType="hashmap" resultType="int">	 	
	 	SELECT COUNT(*) FROM
	 	(SELECT D.* FROM PRODUCT P,DETAIL D  
	 	WHERE P.PRODUCTNO = D.PRODUCTNO AND STORENO=#{storeNo} AND D.DETAILDIV = #{del})	 	
	</select>
	
	<update id="updateStock" parameterType="hashmap">
		UPDATE DETAIL
		SET MOUNT=#{mount}
		WHERE DETAILNO = #{detailNo}
	</update>
	
	<update id="deleteStock" parameterType="hashmap">
	 	UPDATE DETAIL
	 	SET DETAILDIV =#{del}
	 	WHERE DETAILNO=#{detailNo}
	</update>
	
	<select id="takeProfit" parameterType="hashmap" resultType="int">
		SELECT NVL(SUM(PRICE),0) FROM SALESVIEW 
		WHERE STORENO=#{storeNo} AND SALESDATE BETWEEN TO_DATE(#{start},'MM/dd/yyyy') and To_Date(#{end},'MM/dd/yyyy')+1
	</select>
	
	<select id="takeRevenue" parameterType="hashmap" resultType="int">
		SELECT NVL(SUM(SALESPRICE),0) FROM SALESVIEW 
		WHERE STORENO=#{storeNo} AND SALESDATE BETWEEN TO_DATE(#{start},'MM/dd/yyyy') and To_Date(#{end},'MM/dd/yyyy')+1
	</select>
	
	<select id="searchSalesView" parameterType="hashmap" resultType="SalesView">
		SELECT * FROM 
			(SELECT rowNUM NUM , M.* FROM 
			(SELECT * FROM SALESVIEW 
				WHERE STORENO = #{storeNo} 
					and SALESDATE BETWEEN TO_DATE(#{start},'MM/dd/yyyy') and To_Date(#{end},'MM/dd/yyyy')+1 
				ORDER BY SALESNO DESC)M) 
			WHERE NUM <![CDATA[>=]]> #{from} AND NUM <![CDATA[<]]> #{to}
	</select>
</mapper>












